@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.color1 {color: #051619;}
.color2 {color: #292e46;}
.color3 {color: #73728a;}
.color4 {color: #c2b5d0;}
.color5 {color: #e7dae7;}

*
{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    padding: 30px;
    min-width: 100%;
    margin-bottom: 35px;
}

.image-slider{

}

.image-slider_wrapper{}

.image-slider_slide{}

.image-slider_image{
    text-align: center;
}

.image-slider_image img{
    max-width: 100%;
    padding-bottom: 35px;
}

.swiper-button-next{
    position: absolute;
right: 100px;
}

.swiper-pagination{
}


.image-slider .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .image-slider .swiper-button-next:after{
        display: none;
    }
.image-slider .swiper-button-prev:after{
        display: none;
    }
}

header{
    background-color: #051619;
}
.tble:hover {
    background-color: white;
    scale: 1.01;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

tbody tr:nth-child(odd)
{
    background-color: grey;
}

footer
{
    height: 100px;
    width: 100%;
    background-color: black;
}

#low-logo
{
    float:left;
    width: 100px;
    height: 100px;
}

footer #low-logo:hover+#bywho
{
    display: inline-block;
    animation: rotation 6s infinite linear;
}
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }



#bywho
{
    display: none;
    font-size:18px;
    padding: 40px 0 0 0;
    color: darkorange;
}
